<div class="hero-body">
  <div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
      <h1 class="title">
        Welcome
      </h1>
      <h2 class="subtitle">
        This material relates to the promotion of alcohol and should not be viewed by anyone below the legal age of alcohol purchase in the country of viewing.
      </h2>
      <div class="buttons is-grouped is-centered">
        <span> <a class="button is-success" href="/cocktails">I am of legal age</a></span>
        <span> <a class="button is-danger" href="https://www.lego.com/">I am a minor</a></span>
      </div>

    </div>
  </div>
</div>
