<section class="frontpage">

  <div class="hero-body">
    <div class="container landcontent has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title sitename">
          Welcome
        </h1>
        <h2 class="subtitle sitename">
          This material relates to the promotion of alcohol and should not be viewed by anyone below the legal age of alcohol purchase in the country of viewing.
        </h2>
        <div class="columns">
          <div class="column is-3 is-offset-2">
            <span> <a class="button is-success accessbutton" href="/cocktails">I am of legal age</a></span>
          </div>
          <div class="column is-3 is-offset-2">
            <span> <a class="button is-danger accessbutton" href="https://www.lego.com/" target="_blank">I am a minor</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
