<section ng-controller="CocktailsShowCtrl as vm" class="section">
  <div class="columns">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{vm.cocktail.imagePath}}" alt="{{ vm.cocktail.name }}">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <h2 class="title is-2">{{ vm.cocktail.name }}</h2>
              <h4 class="subtitle is-3">Bartender rating: <em>{{ vm.cocktail.rating }} of 100</em></h4>
              <p>{{ !vm.cocktail.isAlcoholic ? !vm.cocktail.isAlcoholic : 'This is an alcoholic drink'}}</p>
              <form ng-submit="vm.addFavorite()" ng-if="main.isAuthenticated()">
                <label>Add comment</label>
                <button type="submit" class="button is-info">❤️</button>
              </form>
              <p></p>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <button class="button is-info is-outlined is-large card-footer-item" ui-sref="cocktailsEdit({ id: vm.cocktail.id })" ng-if="main.isAuthenticated() && main.currentUserId === vm.cocktail.createdBy.id"><span>Edit</span><span class="icon is-small"><i class="fas fa-edit"></i></span></button>
          <button class="button is-danger is-outlined is-large card-footer-item" ng-click="vm.delete()" ng-if="main.isAuthenticated() && main.currentUserId === vm.cocktail.createdBy.id"><span>Delete</span><span class="icon is-small">
            <i class="fas fa-trash-alt"></i>
          </span></button>
        </footer>
      </div>
    </div>

    <div class="column is-two-thirds">
      <div class="tabs is-boxed is-medium">
        <ul>
          <li ng-click="vm.selectTab('instructions')" ng-class="{'is-active' : vm.currentTab === 'instructions'}">
            <a>
              <span class="icon is-small"><i class="fab fa-mix"></i></span>
              <span>Instructions</span>
            </a>
          </li>
          <li ng-click="vm.selectTab('ingredients')" ng-class="{'is-active' : vm.currentTab === 'ingredients'}">
            <a>
              <span class="icon is-small"><i class="fas fa-balance-scale"></i></span>
              <span>Ingredients</span>
            </a>
          </li>
          <li ng-click="vm.selectTab('video')" ng-class="{'is-active' : vm.currentTab === 'video'}">
            <a>
              <span class="icon is-small"><i class="fas fa-film"></i></span>
              <span>Video</span>
            </a>
          </li>
          <li ng-click="vm.selectTab('comments')" ng-class="{'is-active' : vm.currentTab === 'comments'}">
            <a>
              <span class="icon is-small"><i class="fas fa-comments"></i></span>
              <span>Comments</span>
            </a>
          </li>
        </ul>
      </div>
      <div ng-if="vm.tabs.instructions">
        {{vm.cocktail.descriptionPlain}}

      <br>

        <p>To make this drink, you also need the following tools:</p>

        <ul>
          <li ng-repeat="tool in vm.cocktail.tools"><em>{{ tool.text }}</em></li>
        </ul>

        <br>

        <ul class="flavour">
          <h4>Enjoy it as
            <li ng-repeat="event in vm.cocktail.occasions">
              {{event.text}}
            </li>
          </h4>
        </ul>
      </div>
      <div ng-if="vm.tabs.ingredients">
        <ul>
          <li ng-repeat="ingredient in vm.cocktail.ingredients">{{ingredient.textPlain}}
          </li>
        </ul>

      </div>
      <div ng-if="vm.tabs.video">
        <div ng-bind-html="vm.cocktail.youtubePlayer">
        </div>
      </div>
      <div ng-if="vm.tabs.comments">
        <div class="column is-9">
          <p ng-if="!vm.cocktail.comments.length">0 comments</p>
          <div class="comments">
            <form ng-submit="vm.addComment()" ng-if="main.isAuthenticated()">
              <label>Add comment</label>
              <textarea class="textarea is-medium" type="text" ng-model="vm.newComment.content"></textarea>
              <button type="submit" class="button is-info">Comment</button>
            </form>

            <div class="box content">
              <article class="post" ng-repeat="comment in vm.cocktail.comments track by $index">
                <h4>{{ comment.content }}</h4>
                <span class="pull-right has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
                <div class="media">
                  <div class="media-left">
                    <p class="image is-32x32">
                      <img src="http://bulma.io/images/placeholders/128x128.png">
                    </p>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <a ui-sref="usersShow({ id: comment.createdBy.id })"><strong>{{ comment.createdBy.username }}</strong></a> posted on {{comment.createdAt}}  &nbsp;
                      </p>
                    </div>
                    <button class="button" ng-click="vm.deleteComment(comment)" ng-if="main.isAuthenticated()">Delete</button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
