<div class="container profile">
  <div class="section profile-heading">
    <div class="columns">
      <div class="column is-2">
        <div class="image is-128x128 avatar">
          <img src="{{ vm.user.image }}">
        </div>
      </div>
      <div class="column is-4 name">
        <strong><h1>{{ vm.user.username }}</h1></strong>
        <br>
        <p class="tagline">Bio</p>
      </div>
    </div>
  </div>
</div>
<div class="profile-options">
  <div class="tabs is-fullwidth">
    <ul>
      <li class="link"><a><span class="icon"><i class="fa fa-heart"></i></span> <span>My Likes</span></a></li>
      <li class="link"><a><span class="icon"><i class="fa fa-th"></i></span> <span>My Posts</span></a></li>
    </ul>
  </div>
</div>

<div class="box">
  <!-- Main container -->
  <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <p ng-if="!vm.user.cocktails.length">0 posts</p>
      </div>
      <div class="level-item">
        <p class="control has-addons">
          <input class="input" type="text" placeholder="Find a post">
          <button class="button">
            Search
          </button>
        </p>
      </div>
    </div>

    <!-- Right side -->
    <a href="/cocktails/new">
      <input type="submit" class="button is-block" value="Add a cocktail">
    </a>
  </div>
</nav>
<div class="spacer"></div>
<div class="columns is-multiline">
  <div ng-repeat="cocktail in vm.filtered track by $index" class="column is-3">
    <a ui-sref="cocktailsShow({ id: cocktail.id })">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{cocktail.imagePath}}" alt="{{ cocktail.name }}">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <h2 class="title">{{ cocktail.name }}</h2>
              <br>
              <h3 class="subtitle">Mix difficulty: <em>{{ cocktail.skill.name }}</em></h3>
              <ul class="flavour">
                <h4 class="subtitle">
                  <li ng-repeat="taste in cocktail.tastes"><em>{{ taste.text }}</em></li>
                </h4>
              </ul>
            </div>
          </div>
        </div>
