<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <form name="vm.loginForm" ng-submit="vm.submit()" novalidate>
          <div class="box">
            <figure class="avatar">
              <img src="https://placehold.it/128x128">
            </figure>
            <div class="field">
              <div class="control">
                <input class="input is-large" type="email" placeholder="Your Email" autofocus="" name="email" id="email" ng-model="vm.credentials.email" required>
              </div>
              <div ng-messages="vm.loginForm.email.$error" role="alert" ng-show="(vm.loginForm.$submitted || vm.loginForm.email.$touched) && vm.loginForm.email.$invalid" class="notification is-danger">
                <div ng-message="required">Please enter a value for this field.</div>
                <div ng-message="email">This field must be a valid email address.</div>
                <button class="delete is-small"></button>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-large" type="password" placeholder="Your Password" name="password" id="password" ng-model="vm.credentials.password" required>
              </div>
              <div ng-messages="vm.loginForm.password.$error" role="alert" ng-show="(vm.loginForm.$submitted || vm.loginForm.password.$touched) && vm.loginForm.password.$invalid" class="notification is-danger">
                <div ng-message="required">Please enter a value for this field.</div>
              </div>
            </div>
            <input type="submit" class="button is-block is-info is-large is-fullwidth" value="Login">
          </div>
        </form>
        <p class="has-text-grey">
          <a href="../register">Sign Up</a> &nbsp;|&nbsp;
          <a href="https://gph.is/YCfPKJ">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>
