<!DOCTYPE html>
<html ng-app="cocktailApp">
<head>
  <title>WDI Group Project</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
    <a class="navbar-item" ui-sref="cocktailsSearch">
      Home
    </a>
    <a class="navbar-item" ui-sref="cocktailsIndex">
      Cocktails
    </a>
    <a class="navbar-item" ui-sref="userProfile" ng-if="main.isAuthenticated()">
      Profile
    </a>
    <a class="navbar-item" ng-click="main.logout()" ng-if="main.isAuthenticated()">
      Logout
    </a>
    <a class="navbar-item" ui-sref="login" ng-if="!main.isAuthenticated()">
      Login
    </a>
    <a class="navbar-item" ui-sref="register" ng-if="!main.isAuthenticated()">
      Register
    </a>
  </div>
</nav>
<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        3 Amigo's Cocktails
      </h1>
      <h2 class="subtitle">
        Yeh Boi!
      </h2>
    </div>
  </div>
</section>
  <main ui-view></main>
</body>
</html>
